*.code-workspace
/Example Project
Documentation/.obsidian/workspace.json
OMTT Docs/.obsidian/workspace.json
/build
/PhysicsMeshCooker/.cache
__pycache__/
/TrackPacker/build/
/TrackPacker/dist/
/TrackPacker/_bff_build/
/dist/
/Art
